body {
    background-color: #000000;
    font-family: arial, sans-serif;
    padding:40px;
    text-align: center;
    }
.card {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    width:300px;
    height: 200px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    background-color: black;
    border-radius: 10px;
    padding: 10px 20px;
    border:none;
    margin:0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color:white;
    text-decoration: none;
    display: inline-block;
   }
   html {
    scroll-behavior: smooth;
}
